// Achieves > 0.99 episodic return: https://wandb.ai/entity-neural-network/enn-ppo/reports/Minefield-Baselines--VmlldzoxNzAyOTE2
ExperimentConfig(
    env: (
        id: "Minefield",
        kwargs: "{\"max_mines\": 10}"
    ),
    rollout: (
        num_envs: 512,
        steps: 128,
        processes: 16,
    ),
    total_timesteps: 3000000,
    net: (
        d_model: 32,
        n_layer: 2,
        relpos_encoding: (
            position_features: ["x_pos", "y_pos"],
            rotation_angle_feature: "direction",
            extent: [8, 2],
            interpolate: true,
            radial: true,
            distance: true,
            scale: 300.0,
        ),
    ),
    optim: (
        bs: 1024,
        lr: 0.005,
    ),
    ppo: (
        ent_coef: 0.0001,
        gamma: 0.999,
    ),
)