// Achieves ~0.99 episodic return: https://wandb.ai/entity-neural-network/enn-ppo/reports/MultiSnake-snakes-2-len-11--VmlldzoxODE1OTA0
ExperimentConfig(
    version: 0,
    env: (
        id: "MultiSnake",
        kwargs: "{\"num_snakes\": 2, \"max_snake_length\": 11}",
    ),
    rollout: (
        num_envs: 256,
        steps: 128,
        processes: 16,
    ),
    total_timesteps: 100000000,
    net: (
        d_model: 128,
        n_layer: 2,
        relpos_encoding: (
            extent: [10, 10],
            position_features: ["x", "y"],
        ),
    ),
    optim: (
        bs: 32768,
        lr: 0.005,
        max_grad_norm: 10,
        micro_bs: 4096,
    ),
    ppo: (
        ent_coef: 0.15,
        gamma: 0.997,
        anneal_entropy: true,
    ),
)