// Achieves > 0.995 mean episodic return: https://wandb.ai/entity-neural-network/enn-ppo/reports/PickMatchingBalls--VmlldzoxNjIxMjQ5
ExperimentConfig(
    version: 0,
    env: (
        id: "PickMatchingBalls",
        kwargs: "{\"max_balls\": 32, \"one_hot\": true, \"randomize\": true}",
    ),
    rollout: (
        num_envs: 64,
        steps: 16,
        processes: 16,
    ),
    total_timesteps: 500000,
    net: (
        d_model: 128,
        n_layer: 4,
        d_qk: 32,
    ),
    optim: (
        bs: 1024,
        lr: 0.001,
    ),
    ppo: (
        ent_coef: 0.5,
        gamma: 0.99,
        anneal_entropy: true,
    ),
)