ExperimentConfig(
    version: 0,
    env: (
        id: "RockPaperScissors",
    ),
    rollout: (
        num_envs: 256,
        steps: 1,
    ),
    total_timesteps: 4000,
    net: (
        d_model: 16,
        n_layer: 2,
    ),
    optim: (
        bs: 256,
        lr: 0.03,
    ),
)