// Achieves 1.0 episodic return most of the time: https://wandb.ai/entity-neural-network/enn-ppo/reports/Xor--VmlldzoxOTI5NTQ0
ExperimentConfig(
    version: 0,
    env: (
        id: "Xor",
    ),
    rollout: (
        num_envs: 2048,
        steps: 1,
        processes: 16,
    ),
    total_timesteps: 500000,
    net: (
        n_layer: 2,
        d_model: 16
    ),
    optim: (
        bs: 2048,
        lr: 0.003,
    ),
    ppo: (
        ent_coef: 0.3,
    ),
)